<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #2874f0;">
  <a class="navbar-brand col-lg-4" [routerLink]="['/home']" routerLinkActive="active"  >
    MSCart <img src="assets/icon.png" width="30" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto col-lg-8">
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 " autocomplete="off" [(ngModel)]="selected" name="productQuery" [typeahead]="states" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-count="3" href="#">Cart</a>
      </li>
      <!-- <li class="nav-item">
        <i class="nav-link fas fa-bell" style="padding-top: 12px;"></i>
      </li> -->
      <li>
        <a class="fas fa-bell fa-sm">
          <span class="fa fa-comment"></span>
          <span class="num">{{itemCount}}</span>
        </a>
      </li>
    </ul>

  </div>
</nav>