<carousel [noPause]="noPause">
    <slide>
        <img src="assets/electronics/iphone.jpg" alt="first slide"  style="display: block; width: 100%;max-height:400px !important;">
        <div class="carousel-caption d-none d-md-block">
            <h3>iPhone 10</h3>
            <p>A product by Apple.</p>
        </div>
    </slide>
    <slide>
        <img src="assets/electronics/qled.jpg" alt="second slide" style="display: block; width: 100%;max-height:400px !important;">
        <div class="carousel-caption d-none d-md-block">
            <h3>QLed TV</h3>
            <p>A product by Samsung.</p>
        </div>
    </slide>
    <slide>
        <img src="assets/electronics/bose.jpg"  alt="third slide" style="display: block; width: 100%;max-height:400px !important;">
        <div class="carousel-caption d-none d-md-block">
            <h3>QuiteComfort</h3>
            <p>A product by Bose.</p>
        </div>
    </slide>
</carousel>