<span class="badge badge-secondary">Deals of the day</span>
<div class="card">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="badge badge-secondary">Featured Products</span>
<div class="card">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="/product/1" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
