<span class="badge badge-secondary">Deals of the day</span>
<div class="card">
  <div class="row">
    <div class="col" *ngFor="let product of this.productList">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">
            Price : {{product.price}}
          </p>
          <a routerLink="/productsdetails/{{product.id}}" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="badge badge-secondary">Featured Products</span>
<div class="card">
  <div class="row">
    <div class="col" *ngFor="let product of this.productList">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail"
          src="https://rukminim1.flixcart.com/flap/300/300/image/d60d3f.jpg?q=70"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">
            Price : {{product.price}}
          </p>
          <a routerLink="/productsdetails/{{product.id}}" routerLinkActive="active">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
