<div class="d-flex p-2">
  <div class="row">
    <div class="col-sm-3" *ngFor="let product of productList">
      <div class="card" style="width: 13rem;">
        <img
          class="card-img-top img-thumbnail" style="widows: 200px;height:250px;"
          src={{product.image}}
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">
             Price : {{product.price}}
          </p>
          <a routerLink="/productsdetails/{{product.id}}" routerLinkActive="active">{{product.category}} - View</a>
        </div>
      </div>
    </div>
  </div>
</div>
