<div class="card-deck mb-3 text-center">
  <div
    class="col-lg-3"
    *ngFor="let product of productList"
    style="padding-top: 5px;"
  >
    <div class="card card-body">
      <h1 class="card-title">{{ product.name }}</h1>
      <img
        style="width: 200px;height:250px;"
        src="{{ product.image }}"
        alt="Card image cap"
      />
      <h4 class="my-0 font-weight-normal">${{ product.price }}</h4>
    </div>
    <div class="card card-header">
      <a
        class="my-0 font-weight-normal"
        routerLink="/productsdetails/{{ product.id }}"
        routerLinkActive="active"
        >View</a
      >
      <div *ngIf="isAvailableInCart(product); else notInCart">
        <i
          class="fas fa-heart fa-2x"
          style="color: #0099CC;"
          tooltip="Its already in your cart"
        ></i>
      </div>

      <ng-template #notInCart>
        <a href="javascript:void(0)">
        <i class="far fa-heart fa-2x"
          tooltip="Add to Cart"
          (click)="add(product)"
        ></i>
        </a>
      </ng-template>
    </div>
  </div>
</div>
